/* google fonts import */ 
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* To override default styling by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */ 
body {
    /* min-height to ensure content occupies the whole screen (coding2go) */
    min-height: 100vh;
    background-color: white;

}

/* Header */ 
header {
    background-color:  #9a161c;
    padding: 15px 1rem; 
    position: sticky;
    z-index: 99;
    width: 100%;   
    box-shadow: 0 2px 2px grey; 
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}


 #logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}


/* navbar (skillthrive - 3 different types of nav) */ 
nav {
    /* taken from love running walkthrough */
    position: absolute;
    background-color: #9a161c;
    width: 100%; 
    left: 0;
    padding: 0 1rem;
    display: none;
    box-shadow: 0 2px 2px grey;
    top: 100%;

}


li, a {
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;

}

.nav_links {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

.nav_links > li {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


a.active:hover {
    background: rgb(71, 71, 144);
    border-bottom: 2px solid black;
    padding: 5px; 
    border-radius: 20px;

}


/* nav toggle - love running */ 
#nav-toggle:checked~nav {
    display: block; 

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #edf0f1; 

}


/* main */ 

main {
    flex: 1 0 auto; 

}

/* main > hero - googled optimised web images */ 

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-erik-mclean-5662826\ \(1\).jpg) no-repeat center center/cover; 
    position: relative;
}

#cover-text {
    /* following love running but tailored to my color scheme */
    font-family: "Azeret Mono", monospace;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    background-color: rgba(154, 22, 29, 0.511);
    color: #edf0f1;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;  
    padding-left: 10px;

}




/* footer */ 

footer {
    background-color: #9a161c;
    color: #edf0f1;
    text-align: center;
    border: 2px solid black;
    bottom: 0%;
    position: fixed;
    width: 100%;    

}

/* footer socials */ 

footer > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

i {
    font-size: 160%;
    padding: 5%;    
    color: #edf0f1; 
}

/* media queries */ 

/* taken from love running */ 

@media screen and (min-width: 768px) {
    /* Header */ 
    nav {
        display: block;
        position: relative; 
        box-shadow: none; 
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-toggle:checked~nav {
        display: flex;  
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 4%;  
        left: 0;

    }

    .nav_links {
        display: flex;
       
    }

    .nav_links > li {
        padding-left: 1rem;
        margin-bottom: 1em;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}

